@import "tailwindcss";

.bg-\[\#141829\]\/70 {
    background-color:
        color-mix(in oklab, #c3c4cb 70%, transparent);
}

@supports (color:color-mix(in lab, red, red)) {
    .bg-slate-900\/40 {
        background-color:
            color-mix(in oklab, oklch(0.93 0.04 268.32) 40%, transparent);
    }
}

.bg-rose-650 {
    background-color: var(--color-rose-700);
}

@media screen and (max-width: 650px) {
    .cnvs-top {
        margin-top: 23px;
    }
}